<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src='../admin/checkLogin.js'></script>

<head>
  <title>SNAP Admin</title>
  <script src='../public/scripts/polyfill.min.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin="" />
  <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.css" />
  <link rel='stylesheet' href="../public/css/admin.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>
  <script src="../public/scripts/asyncGetSubmittedV2.js"></script>
  <script src="../public/scripts/featureStyles.js"></script>
  <script src="../public/scripts/shared.js"></script>
  <script src="../public/scripts/formBuilder.js"></script>

</head>

<body>
  <div id="header"><nav role="navigation" class="navbar navbar-default navbar-inverse"></nav></div>
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <span>Navigation</span>
        </li>
        <li><a class="active">Submissions</a></li>
        <li><a href="Edit.html">Edit Records</a></li>
        <li><a href="manageUsers.html">Manage Users</a></li>
        <li><a href="viewReports.html">View Reports</a></li>
        <li class="sidebar-brand">
          <span>Filters</span>
        </li>
        <li id="barriersFilter" class="active">
          Barriers
          <span style="float: right;"><span id="barriersFilterCount" class="badge"></span></span>
        </li>
        <li id="restoPointsFilter">
          Restoration Points
          <span style="float: right;"><span id="restoPointsFilterCount" class="badge"></span></span>
        </li>
        <li id="restoLinesFilter">
          Restoration Lines
          <span style="float: right;"><span id="restoLinesFilterCount" class="badge"></span></span>
        </li>
        <li id="restoPolysFilter">
          Restoration Polygons
          <span style="float: right;"><span id="restoPolysFilterCount" class="badge"></span></span>
        </li>
        <li id="distPointsFilter">
          Disturbance Points
          <span style="float: right;"><span id="distPointsFilterCount" class="badge"></span></span>
        </li>
        <li id="distLinesFilter">
          Disturbance Lines
          <span style="float: right;"><span id="distLinesFilterCount" class="badge"></span></span>
        </li>
        <li id="distPolysFilter">
          Disturbance Polygons
          <span style="float: right;"><span id="distPolysFilterCount" class="badge"></span></span>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" id="searchBy" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GID <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a onclick="searchBy(this, 'gid')">GID </a></li>
                  <li><a onclick="searchBy(this, 'agency')">Agency </a></li>
                  <li><a onclick="searchBy(this, 'region')">Region </a></li>
                  <li><a onclick="searchBy(this, 'ecosystem')">Ecosystem </a></li>
                </ul>
              </div><!-- /btn-group -->
              <input type="text" id="searchID" class="form-control" placeholder="Search by...">
              <span class="input-group-btn">	
                <button id="searchButton" class="btn btn-default" type="button">Search</button>	
              </span>
            </div>
            <!-- /input-group -->
            <br>
            <div id="Items">
              <div id="reviewItems"></div>

              <div class="loading"></div>
              <table id="tableID" class="table table-bordered table-striped center" cellspacing="0">
                <thead>
                  <tr>
                    <th class="sortable" onclick="sortHeader(this);">GID</th>
                    <th class="sortable" onclick="sortHeader(this);">Agency</th>
                    <th class="sortable" onclick="sortHeader(this);">Region</th>
                    <th class="sortable" onclick="sortHeader(this);">Ecosystem</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="tableItems"></tbody>
              </table>
              <a id="pageLeft50" onclick="changePage(-50)" style="cursor:pointer; font-size: 1.5em;"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a>&nbsp
              <a id="pageLeft5" onclick="changePage(-5)" style="cursor:pointer; font-size: 1.5em;"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a>&nbsp
              <a id="pageLeft" onclick="changePage(-1)" style="cursor:pointer; font-size: 1.5em;"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>&nbsp
              <span id="pageNumber" style="font-size: 1.5em;">1</span>&nbsp
              <a id="pageRight" onclick="changePage(1)" style="cursor:pointer; font-size: 1.5em;"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>&nbsp
              <a id="pageRight5" onclick="changePage(5)" style="cursor:pointer; font-size: 1.5em;"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>&nbsp
              <a id="pageRight50" onclick="changePage(50)" style="cursor:pointer; font-size: 1.5em;"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></a>
            </div>
          </div>
          <!-- /.col-lg-6 -->
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /.row -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"> </h4>
        </div>
        <div class="modal-body" style="height: 100%">
          <div id="update-alert" class="alert alert-success" hidden>Record updated successfully</div>
          <table id='tableMap' style="height: 100%; width: 100%">
            <td style="height: 100%; width: 50%">
              <div id="pInfo"></div>
            </td>

            <td style="height: 100%; width: 50%">
              <div id="mapID"></div>
              <div id="coordError" style="display:none;">This feature does not have any coordinates defined</div>
            </td>
          </table>
          <div id='editInfo'></div>
          <div id='buttons'>
            <button id="confirmButton" class="btn btn-primary">Confirm Submission</button>
            <button id="editButton" class="btn btn-default">Edit</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script>
    var currRecords = null;
    var currFilter = "barriers"
    mapMarkers = [];
    var currentData = [];
    var shownRecords = null;
    //sets the type of form to be saved
    var formType = 'sub';
    var invalidated = false;
    var pageNumber = 0;
    var bounds = null;

    function deleteSubmission(table, id) {
      $.ajax({
        type: "POST",
        datatype: "json",
        url: '/deleteSubmission',
        contentType: 'application/json',
        data: JSON.stringify({ table: table, id: id }),
        success: function(data) {
          window.location.reload(true);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          console.log("some error");
        }
      })
    }
    function changeCurrentFeature(update){
      var count = 0;
      for (let prop in currentData.properties){
        if (update[count] != null)
          currentData.properties[prop] = update[count]
        count++;
      }
      $("#table-content-"+currentData.properties.gid)[0].children[1].innerHTML = getAgency(currentData.properties.agency);
      $("#table-content-"+currentData.properties.gid)[0].children[2].innerHTML = currentData.properties.region;
      $("#table-content-"+currentData.properties.gid)[0].children[3].innerHTML = currentData.properties.ecosystem;
    }

    function populateModal(data, type) {
      var style;
      currentData = data;
      $("#update-alert").hide();
      $("#editInfo").html("")
      $("#tableMap").show();
      $("#buttons").show();
      if (this.mapMarkers != null)
        for (var i = 0; i < this.mapMarkers.length; i++) {
          this.map.removeLayer(this.mapMarkers[i]);
        }
      console.log(data);

      if (data.geometry != null) {
        switch (data.geometry.type) {
          case 'Point':
            style = myStylePoints(data);
            console.log(style);
            var marker = L.circle([data.geometry.coordinates[1], data.geometry.coordinates[0]], {
              radius: 8,
              fillColor: style.fillColor,
              color: style.color,
              weight: 1,
              opacity: 1,
              fillOpacity: 0.8,
              radius: 500
            }).addTo(map);
            this.mapMarkers.push(marker);
            if (data.geometry.coordinates.length > 1)
              bounds = marker.getBounds();
            break;
          case 'MultiLineString':
            var marker = L.geoJson(data, {
              style: myStyleLines,
            }).addTo(map);
            this.mapMarkers.push(marker);
            if (marker._layers[marker._leaflet_id - 1].feature.geometry.coordinates.length > 0)
              bounds = marker._layers[marker._leaflet_id - 1].getBounds();
            break;
          case 'MultiPolygon':
            var marker = L.geoJson(data, {
              style: myStyleDistPoly
            }).addTo(map);
            this.mapMarkers.push(marker);
            if (marker._layers[marker._leaflet_id - 1].feature.geometry.coordinates.length > 0)
              bounds = marker._layers[marker._leaflet_id - 1].getBounds();
            break;
          default:
            var marker = L.geoJson(data, {
              style: myStyleDistPoly
            }).addTo(map);
            this.mapMarkers.push(marker);
            if (marker._layers[marker._leaflet_id - 1].feature.geometry.coordinates.length > 0)
              bounds = marker._layers[marker._leaflet_id - 1].getBounds();
            break;
        }
      }
      if (!bounds)
        $("#coordError").show();
      else
        $("#coordError").hide();
      // this will invalidate the size of the map to make it fit in the modal
      $('#myModal').on('shown.bs.modal', function() {
        setTimeout(function() {
          console.log("invalidate")
          map.invalidateSize();
          if (!invalidated && bounds) {
            map.fitBounds(bounds, {
              maxZoom: 11
            });
            invalidated = true;
          }
        }, 5);
      });
      $("#pInfo").html("");

      for (var prop in data.properties) {
        if (prop == 'agency') {
          $("#pInfo").append("<br /><B>" + prop + "</B>" + ' : ' + getAgency(data.properties[prop]));
        }
        else
          $("#pInfo").append("<br /><B>" + prop + "</B>" + ' : ' + data.properties[prop]);
      }

      // makes map look at the point
      if (bounds)
        map.fitBounds(bounds, {
          maxZoom: 11
        });
    }

    function writeTables() {
      var item = document.getElementById('tableItems');
      var count = 0;
      $("#pageNumber").html((pageNumber + 1) + "/" + (currRecords.overallCount > 0 ? Math.ceil(currRecords.overallCount / 10) : 1))
      $("#tableItems").html('<tr><td colspan=5>No more submissions for this filter</td></tr>');
      if (shownRecords != null && shownRecords.features != null){
        $("#tableItems").html('');
        shownRecords.features.forEach(function(feature) {
          count++;
          if (count > (pageNumber + 1) * 10 || count - 1 < pageNumber * 10)
            return;
          feature.dataType = currFilter;
          var agen = getAgency(feature.properties.agency);

          $("#tableItems").append($("<tr>", {id: "table-content-"+feature.properties.gid}).append($("<td>").html(feature.properties.gid))
            .append($("<td>").html(agen))
            .append($("<td>").html(feature.properties.region ? feature.properties.region : feature.properties.regions ? feature.properties.regions : ""))
            .append($("<td>").html(feature.properties.ecosystem))
            .append($("<td>").append($("<a>", { id: "feature" + count, 'data-toggle': "modal", 'data-target': "#myModal", href: "#" }).click(function() { populateModal(feature, "Test"); })
              .append($("<button>", { type: "button", class: "btn btn-default btn-sm" })
                .append($("<span>", { class: "glyphicon glyphicon-edit", ariaHidden: "true" }).html(" Review"))))));

        });
      }
      var items = document.getElementById("tableItems");
      document.getElementById("tableID").appendChild(items);
      document.getElementById("tableID").style.textAlign = "center";
    }

    getSubmissions('AllSubs', '').then(function(defs) {
      if (defs.barriers.features != null)
        $("#barriersFilterCount").html(defs.barriers.features.length);
      else
        $("#barriersFilterCount").html(0);

      if (defs.restoPoints.features != null)
        $("#restoPointsFilterCount").html(defs.restoPoints.features.length);
      else
        $("#restoPointsFilterCount").html(0);

      if (defs.restoLines.features != null)
        $("#restoLinesFilterCount").html(defs.restoLines.features.length);
      else
        $("#restoLinesFilterCount").html(0);

      if (defs.restoPolys.features != null)
        $("#restoPolysFilterCount").html(defs.restoPolys.features.length);
      else
        $("#restoPolysFilterCount").html(0);

      if (defs.distPoints.features != null)
        $("#distPointsFilterCount").html(defs.distPoints.features.length);
      else
        $("#distPointsFilterCount").html(0);

      if (defs.distLines.features != null)
        $("#distLinesFilterCount").html(defs.distLines.features.length);
      else
        $("#distLinesFilterCount").html(0);

      if (defs.distPolys.features != null)
        $("#distPolysFilterCount").html(defs.distPolys.features.length);
      else
        $("#distPolysFilterCount").html(0);
    });
    
    
    function getNewFilter(type){
      var filter = $('#'+type+'Filter');
      pageNumber = 0;
      $(filter).parent().find('li.active').removeClass('active');
      $(filter).addClass('active');
      $("#tableItems").html('<div class="loader"></div>');
      getSubmissions(type).then(function(defs) {
        currRecords = defs;
        currFilter = type;
        $("#tableItems").html('');
        $(filter.children()[0]).html($("<span>", { class: 'badge' }).html(defs.overallCount))
        shownRecords = defs[currFilter];
        writeTables();
      });
    }
    
    getNewFilter('barriers');
    $("#barriersFilter").click(function(){
      getNewFilter('barriers');
    })
    $("#restoPointsFilter").click(function(){
      getNewFilter('restoPoints');
    })
    $("#restoLinesFilter").click(function(){
      getNewFilter('restoLines');
    })
    $("#restoPolysFilter").click(function(){
      getNewFilter('restoPolys');
    })
    $("#distPointsFilter").click(function(){
      getNewFilter('distPoints');
    })
    $("#distLinesFilter").click(function(){
      getNewFilter('distLines');
    })
    $("#distPolysFilter").click(function(){
      getNewFilter('distPolys');
    })
    
    $("#searchID").keyup(function(event) {
        if (event.keyCode === 13) {
            $("#searchButton").click();
        }
    });
    $("#searchButton").click(function() {
      if ($("#searchID").val() == '') {
        $("#tableItems").html('');
        shownRecords = currRecords[currFilter];
        writeTables();
        return;
      }
      var searched = [];
      var searchedValue = $("#searchID").val().toLowerCase();
      var prop = $("#searchBy").val();
      $("#tableItems").html('<tr><td colspan=5>No records match that ID</td></tr>');
      if (currRecords[currFilter].features != null) {
        currRecords[currFilter].features.forEach(function(feature) {
          if(feature.properties[prop] != null) {
            switch (prop) {
              case 'agency':
                if (getAgency(feature.properties[prop]).toLowerCase() == searchedValue)
                  searched.push(feature)
                break;
              case 'gid':
                if (feature.properties[prop] == searchedValue)
                  searched.push(feature)
                break;
              default:
                if (feature.properties[prop].toLowerCase().indexOf(searchedValue) != -1)
                  searched.push(feature);
            }
          }
        });
        $("#tableItems").html('');
        pageNumber = 0;
        shownRecords = { features: searched };
        writeTables();
      }
    });
    

    var map = L.map('mapID').setView([36.211303, -115.114929], 10);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: '',
      maxZoom: 18,
      id: 'rogerdodger617.2p4pk9co',
      accessToken: 'pk.eyJ1Ijoicm9nZXJkb2RnZXI2MTciLCJhIjoiY2l5aG83M3pzMDR3aDJ3cndobzdzOWFhMSJ9.b6ssRylqfIz40O7vKcDb2g'
    }).addTo(map);

    function confirmData() {
      var link = "/";
      if (currentData.dataType === 'restoPoints')
        link = "/restoPointConfirm";
      else if (currentData.dataType === 'restoPolys')
        link = "/restoPolyConfirm";
      else if (currentData.dataType === 'restoLines')
        link = "/restoLineConfirm";
      else if (currentData.dataType === 'barriers')
        link = "/barrierConfirm";
      else if (currentData.dataType === 'distPoints')
        link = "/distPointConfirm";
      else if (currentData.dataType === 'distPolys')
        link = "/distPolyConfirm";
      else if (currentData.dataType === 'distLines')
        link = "/distLineConfirm";



      console.log("submitting to " + link);
      console.log(currentData);
      var submission = currentData;
      delete submission.dataType;
      $.ajax({
        type: "POST",
        datatype: "json",
        url: link,
        contentType: 'application/json',
        data: JSON.stringify(submission),
        success: function(data) {
          window.location.reload(true);
          console.log(data);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          console.log("some error");
        }
      })
    }
    function sendForm(submission, route) {
      if (submission != null) {
         $.ajax({
            type: "POST",
            datatype: "json",
            url: route,
            contentType: 'application/json',
            data: JSON.stringify(submission),
            success: function (data) {
              changeCurrentFeature(submission);
              populateModal(currentData);
              $("#update-alert").show();
              console.log(data);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              console.log("some error");
            }
         })
      }
    } 
   
    function collectData(form, route) {
      var obj = [currentData.properties.gid];
      $(form).serializeArray().reduce(function(i, item) {
         if (item.value === '' || item.value === 'select') {
            obj.push(null);
         } else if (item.name === 'gid' || item.name === 'agency' || item.name === 'dist_sever' || item.name === 'photo_azim') {
            obj.push(parseInt(item.value));
         } else if (item.name === 'acres_rest' || item.name === 'kmsq_resto' || item.name === 'shape_star' || item.name === 'estimate_s') {
            obj.push(parseFloat(item.value));
         } else if (item.name === 'barr_miles' || item.name === 'bar_km' || item.name === 'miles_dist' || item.name === 'km_dist') {
            obj.push(parseFloat(item.value));
         } else if (item.name === 'miles_rest' || item.name === 'km_resto' || item.name === 'shape_stle' || item.name === 'shape_leng') {
            obj.push(parseFloat(item.value));
         } else {
            obj.push(item.value);
         }
         
      }, {});
      sendForm(obj,route);
   }
    function editForm() {
      var form;
      var buttons = [$("<br>"), 
        $("<button>", {type: 'button', class: 'btn btn-primary', text: 'Save', value: 'Save'}).click(function(){
          console.log("here")
          switch(currentData.dataType){
            case 'restoPoints':
              collectData('#restoPointForm','/restoPointSubFormEdit');
              break;
            case 'restoPolys':
              collectData('#restoPolyForm','/restoPolySubFormEdit');
              break;
            case 'restoLines':
              collectData('#restoLineForm','/restoLineSubFormEdit');
              break;
            case 'barriers':
              collectData('#barrierForm','/barrierSubFormEdit');
              break;
            case 'distPoints':
              collectData('#distPointForm','/distPointSubFormEdit');
              break;
            case 'distPolys':
              collectData('#distPolyForm','/distPolySubFormEdit');
              break;
            case 'distLines':
              collectData('#distLineForm','/distLineSubFormEdit');
              break;
          }
        }),
        $("<button>", {type: 'button', class: 'btn btn-default', text: 'Back', value: 'Back'}).click(function(){
          populateModal(currentData);
        })
      ];
      switch(currentData.dataType){
        case 'restoPoints':
          form = createForm('restoPointForm', null, buttons);
          break;
        case 'restoPolys':
          form = createForm('restoPolyForm', null, buttons);
          break;
        case 'restoLines':
          form = createForm('restoLineForm', null, buttons);
          break;
        case 'barriers':
          form = createForm('barrierForm', null, buttons);
          break;
        case 'distPoints':
          form = createForm('distPointForm', null, buttons);
          break;
        case 'distPolys':
          form = createForm('distPolyForm', null, buttons);
          break;
        case 'distLines':
          form = createForm('distLineForm', null, buttons);
          break;
      }
      $("#editInfo").html(form);
      $.each(currentData.properties, function(name, val){
        var $el = $('[name="'+name+'"]'),
           type = $el.attr('type');
        if ($el.length > 0)
          switch(type){
            case 'checkbox':
              $el.attr('checked', 'checked');
              break;
            case 'radio':
              $el.filter('[value="'+val+'"]').attr('checked', 'checked');
              break;
            case 'date':
            case 'text':
              $el.val(val);
              break;
            default:
              if (val != null && val != '' && val != ' ') 
                 $el.val(val);
                
         }
     });
    }
    

    // Listener for the Edit Button
    $("#editButton").click(function(){
      $("#tableMap").hide();
      var div = $("#editInfo");
      div.html("");
      div.show();
      editForm();
      $("#buttons").hide();
    })
    $("#confirmButton").click(function(){
      $("#tableMap").hide();
      var div = $("#editInfo");
      div.html("");
      div.show();
      confirmData();
      $("#buttons").hide();
    })
  </script>


</body>

</html>
