<html>
    <head>
        <title></title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="../public/scripts/asyncGetSubmitted.js"> </script>
        <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
        </style>
    </head>
    <body>
        <div id="header">
          <nav role="navigation" class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="pull-left"><img src="/public/css/images/logos/blm.png" width="45px" height="45px" float="left"/><img src="/public/css/images/logos/fs.png" width="38px" height="45px" float="left"/><img src="/public/css/images/logos/fws.png" width="45px" height="45px" float="left"/><img src="/public/css/images/logos/nps.png" width="45px" height="45px" float="left"/></a>
              </div>
              <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="admin.php">Admin</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <p class="navbar-text">Already have an account?</p>
                  </li>
                  <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><b>Login</b><span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                      <li>
                        <div class="row">
                          <div class="col-md-12">
                            <form id="login-nav" role="form" method="post" action="login" accept-charset="UTF-8" class="form">
                              <div class="form-group">
                                <label for="exampleInputEmail2" class="sr-only">Email address</label>
                                <input id="exampleInputEmail2" type="email" placeholder="Email address" required="" class="form-control"/>
                              </div>
                              <div class="form-group">
                                <label for="exampleInputPassword2" class="sr-only">Password</label>
                                <input id="exampleInputPassword2" type="password" placeholder="Password" required="" class="form-control"/>
                                <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                              </div>
                              <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                              </div>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"/> keep me logged-in
                                </label>
                              </div>
                            </form>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        
        <div id="reviewItems"></div>
        <table>
          <div id="tableItems"></div>
        </table>
        
        <script>
          //let promise = [];
          function getAgency(agency){
            switch (agency) {
                case 0:
                  return "BLM";
                  break;
                case 1:
                  return "NPS";
                  break;
                case 2:
                  return "FS";
                  break;
                case 3: 
                  return "FWS";
                  break;
                default:
                  return "NULL";
                  break;
            }
          }
          function populateModal(data, type) {
            console.log(data);
            $("#myModalLabel").html("<h1>"+type +"</h1>");
            
            $("#pInfo").html("GID#: " + data.properties.gid +"<br/>Agency: " + data.properties.agency + "<br/>Date: " + data.properties.gps_date + "<br/>Region: " + data.properties.regions + "<br/>Ecosystem: " + data.properties.ecosystem);
            /*$("#pInfo").append("<br/><p style='text-align:left !important;'>Prescriptions: </p>")
            if (data.prescriptions.length > 0) {
              $("#pTable").html("<tr><th>Drug Name</th><th>Quantity</th><th>Date</th><th>Prescribed by: </th><th>Doctor ID</th></tr>")
              for (var i=0; i<data.prescriptions.length; i++) {
                $("#pTable").append("<tr><td>"+ data.prescriptions[i].trade_name+"</td><td>"+data.prescriptions[i].quantity+"</td><td>"+data.prescriptions[i].date+"</td><td>"+data.prescriptions[i].last_name+", " + data.prescriptions[i].first_name+"</td><td>"+data.prescriptions[i].doctor_id+"</td></tr>")
              }
            }
            else
              $("#pTable").html("No prescriptions on record");*/
          }
          getSubmissions().then(function(defs){
              //promise = (defs);
              console.log(defs);
              var count = document.getElementById('reviewItems');
              var item = document.getElementById('tableItems');
              count.innerHTML = "There are " + defs.overallCount + " submissions to add";
              $("#tableItems").append("<tr><th>GID</th><th>Agency</th><th>Type</th><th>Shape</th><th>Action</th></tr>");
              var count = 0;
              
              defs.barriers.features.forEach(function(features) {
                count++;
                var agen = getAgency(features.properties.agency);
                $("#tableItems").append("<tr><td>"+ features.properties.gid 
                          + "</td><td>"+agen
                          + "</td><td colspan='2'> Barriers"
                          + "</td><td><a id='barr"+ count +"' data-toggle='modal' data-target='#myModal' href='#'>"
                          + "<button type=\"button\" class=\"btn btn-default btn-lg\">"
                          + "<span class=\"glyphicon glyphicon-search\" aria-hidden=\"true\"></span> More Info"
                          + "</button></a>"
                          +"</td></tr>");
                var barrID = "#barr" + count;
                  
                  $(barrID).click(function(){
                      populateModal(features, "Barrier");
                  });
                  
                  
              });
              
              defs.distLines.features.forEach(function(features) {
                var agen = getAgency(features.properties.agency);
                $("#tableItems").append("<tr><td>"+ features.properties.gid 
                          + "</td><td>"+agen
                          + "</td><td> Disturbance"
                          + "</td><td> Lines"
                          +"</td></tr>");
                    
              });
              defs.distPoints.features.forEach(function(features) {
                var agen = getAgency(features.properties.agency);
                $("#tableItems").append("<tr><td>"+ features.properties.gid 
                          + "</td><td>"+agen
                          + "</td><td> Disturbance"
                          + "</td><td> Points"
                          +"</td></tr>");
                    
              });
              defs.distPolys.features.forEach(function(features) {
                var agen = getAgency(features.properties.agency);
                $("#tableItems").append("<tr><td>"+ features.properties.gid 
                          + "</td><td>"+agen
                          + "</td><td> Disturbance"
                          + "</td><td> Polygon"
                          +"</td></tr>");
                    
              });
              defs.restoLines.features.forEach(function(features) {
                var agen = getAgency(features.properties.agency);
                $("#tableItems").append("<tr><td>"+ features.properties.gid 
                          + "</td><td>"+agen
                          + "</td><td> Restoration"
                          + "</td><td> Lines"
                          +"</td></tr>");
                    
              });
              defs.restoPoints.features.forEach(function(features) {
                var agen = getAgency(features.properties.agency);
                $("#tableItems").append("<tr><td>"+ features.properties.gid 
                          + "</td><td>"+agen
                          + "</td><td> Restoration"
                          + "</td><td> Point"
                          +"</td></tr>");
                    
              });
              defs.restoPolys.features.forEach(function(features) {
                var agen = getAgency(features.properties.agency);
                $("#tableItems").append("<tr><td>"+ features.properties.gid 
                          + "</td><td>"+agen
                          + "</td><td> Restoration"
                          + "</td><td> Polygon"
                          +"</td></tr>");
                //if (features == defs.restoPolys.features[defs.restoPolys.features.length-1])
                  //$("#tableItems").append("</table>");
                    
              });
              
              /*defs.forEach(function(elem) {
                if (elem == defs.overallCount){
                  //Do Nothing
                }
                else {
                  elem.features.forEach(function(features) {
                    elements += "<tr><td>"+ features.properties.gid 
                              + "</td><td>"+features.properties.gid
                              + "</td><td>"+features.properties.gid
                              + "</td><td>"+features.properties.gid
                              +"</td></tr>";
                    
                  });
                  
                }
              });*/
          });
          /*setTimeout(function(){ 
            console.log(promise); 
            var elem = document.getElementById('para');
          }, 3000);*/
          
        </script>
        <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"> </h4>
                      </div>
                      <div class="modal-body">
                        
                          <div id="pInfo">
                                
                          </div>
                          <table>
                               <div id="pTable">
                                   
                               </div>
                          </table>
                        
                      </div>
            
                    </div>
                  </div>
                </div>
        
        

    </body>
</html>