<!DOCTYPE html>
<html>
	<head>
		<title>SNAP Restoration</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/logo.css"/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
		<style>
			.container2 { 
				width: 90%;
				padding-left: 15px;
				padding-right: 15px;
				margin-left: auto;
				margin-right: auto;
			}
			.footer {
				margin-left: auto;
				margin-right: auto;
				display: block;
				width: 90%;
				text-align: center;
				bottom:0px;
				padding-bottom: 20px;
			}
		</style>
	</head>
	<body>
		<div id="header">
      <nav role="navigation" class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="pull-left"><img src="/public/css/images/logos/blm.png" width="45px" height="45px" float="left"/><img src="/public/css/images/logos/fs.png" width="38px" height="45px" float="left"/><img src="/public/css/images/logos/fws.png" width="45px" height="45px" float="left"/><img src="/public/css/images/logos/nps.png" width="45px" height="45px" float="left"/></a>
          </div>
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/admin/Add.html">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li id="loginTab"><a href="login.html"><b>Login</b></a></li>
              <li id="logoutTab"><a href="javascript:logout();"><b>Logout</b></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

<div class="col-sm-12 backround-white">
	<div class="container2">
		<div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>Freedom of Information Act</h2>
                            <h3>How to make a FOIA Request
                            </h3>
                        </div>

      <p>Material included on this website is considered public domain unless indicated otherwise. In these instances, the indicated person or agency should be contacted for permission prior to use.</p>
      <p><strong>Freedom of Information Act</strong></p>
      <p>The <a href="http://www.justice.gov/oip/amended-foia-redlined-2010.pdf" target="_blank">Freedom of Information Act </a>(FOIA) provides that any person has the right to request access to federal agency records or information. The FOIA was enacted by Congress in 1966 to give the American public greater access to the Federal Government's records. The Electronic Freedom of Information Act Amendments of 1996 expanded the scope of the FOIA to encompass electronic records and require the creation of "electronic reading rooms" to make records more easily and widely available to the public. Most recently in December 2005, Executive Order 13392, "Improving Agency Disclosure of Information," reaffirmed that FOIA "has provided an important means through which the public can obtain information regarding the activities of Federal agencies" and required Federal agencies to make their FOIA programs "citizen-centered and results-oriented."</p>
      <p><strong>Making a Request</strong></p>
      <p>To obtain printed copies of material from this website, you will need to e-mail, fax or mail in your request with the following REQUIRED information:</p>
      <blockquote>
        <p>1.	Label your request "Freedom of Information Act Request," preferably within the request letter and on the envelope.</p>
        <p>2.	State your willingness to pay applicable fees. You should also include a statement in your request declaring the maximum amount you are willing to pay. If you seek a fee waiver, provide a justification for such a waiver.</p>
        <p>3.	Describe the specific records you are requesting in enough detail so that they can be located with a reasonable amount of effort. Generally, a record is reasonably described when the description contains sufficient file-related information (type of document, title, subject area, date of creation, originator, etc.); or the request contains enough event-related information (date and circumstances surrounding the event the record covers) to permit the conduct of an organized, non-random search. </p>
      </blockquote>
      <p>Some materials are exempted from release under the FOIA, but documents and information under these categories are not available through this public website. A list of these exemptions is found in <a href="http://www.justice.gov/oip/amended-foia-redlined-2010.pdf" target="_blank">Section 552(b) of the FOIA</a>.</p>
      <p><strong>Processing Time</strong></p>
      <p>Under the FOIA, federal agencies are required to respond to a FOIA request within twenty days, excluding Saturdays, Sundays, and legal holidays. This period does not begin until the request is actually received by the disclosure officer of the component that maintains the records sought. If a component is unable to respond to your request by providing you with the releasable documents by the last business day; it can send you a letter informing you of its decision and send the documents within a reasonable time afterward.</p>
      <p>Under certain conditions, expedited access may be granted if there is a compelling need, such as a threat to life and safety, if a person engaged in disseminating information has an urgency to inform the public on actual or alleged Federal Government activity, an imminent loss of substantial due process rights, or a humanitarian need. </p>
      <p><strong>Paying for the request</strong></p>
      <p>The FOIA allows fees to be charged to certain types of requesters, but it also provides that waivers or reductions in fees be given if disclosing the information is in the public interest. The FOIA requires that requesters be placed into one of the below categories:</p>
      <blockquote>
        <p><span class="underline">Commercial</span>. Requesters who seek information for a use or purpose that furthers their commercial, trade, or profit interest are considered commercial requesters. Commercial requesters pay all fees for search, review and duplication.</p>
        <p><span class="underline">Educational</span>. Institutions of education, including preschools, elementary or secondary schools and institutions of higher learning, qualify as educational institutions. The records must be sought in furtherance of scholarly research. Educational requesters pay only duplication fees, unless it is determined that fees are waived or reduced in the public interest. The first 100 pages are provided at no cost. (Note: Students are not considered Educational Use requesters).</p>
        <p><span class="underline">Non-Commercial Scientific</span>. A non-commercial scientific institution is operated solely for conducting scientific research. The records must be sought in furtherance of scientific research. Like educational requesters, these requesters pay only duplication fees, unless it is determined that fees are waived or reduced in the public interest. The first 100 pages are provided at no cost.</p>
        <p><span class="underline">News Media</span>. A representative of the news media is a person actively gathering news for an entity organized and operated to publish or broadcast news to the public. News media pay only duplication fees, unless it is determined that fees are waived or reduced in the public interest. Again, the first 100 pages are provided at no cost. </p>
        <p><span class="underline">"Other" Requesters</span>. Requesters who do not qualify in another category are considered "other" requesters, and normally make requests for agency records for their personal use. "Other" requesters receive two hours search, all review costs, and the first 100 pages at no cost.</p>
      </blockquote>
      <p>All requesters should submit a willingness to pay fees regardless of the fee category, however, this does not mean you will be charged fees. Except for commercial requesters, waivers are always considered. Fee waivers may be granted when disclosure of the records is in the public interest because it is likely to contribute significantly to public understanding of the operations or activities of the government. The following factors are weighed in making a fee waiver determination: </p>
      <ul>
        <li>The subject of the request.</li>
        <li>The informative value of the information to be disclosed.</li>
        <li>The contribution to an understanding of the subject by the general public likely to result from the disclosure.</li>
        <li>The significance of the contribution to public understanding.</li>
        <li>Disclosure of the information is not primarily in the commercial interest of the requester.</li>
        <li>The ability of the requester to disseminate the information.</li>
      </ul><br>
      <p><strong>FOIA Contact Information:</strong></p>
      <p>You may submit a FOIA request by e-mail, fax, or surface mail.</p>
      <ul>
        <li><strong>E-mail:</strong><br><a href="mailto:foia@mojavedata.gov"> FOIA@mojavedata.gov</a></li><br>
       <!-- <li><strong>Mailing Address:</strong><br/>
          Mojave Desert Ecosystem Program<br/>
          2701 Barstow Road<br/>
          Barstow, CA 92311</li><br/>
		 
        <li><strong>Fax:</strong><br/>
          (760) 252-6174</li> -->
      </ul>
	<br>
      <p><a href="LTR_Sample_FOIA_Request_DMG_032008.pdf" target="_blank">Download a Sample FOIA request letter</a></p>

<br />
<hr>

                    </div>
                </div>
	
	</div>
</div>
<br />
<hr>

		<div class="footer">
				<div class="footer-link">
				  <hr>
				<a href="privacy-security.html" target="_blank">Privacy & Security &nbsp&nbsp&nbsp</a>
				<a href="foia.html" target="_blank">FOIA &nbsp&nbsp&nbsp</a>
				<a href="nofear.html" target="_blank">No Fear Act &nbsp&nbsp&nbsp</a>
				<a href="license.html" target="_blank">License &nbsp&nbsp&nbsp</a>
				<a href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx" target="_blank">Accessibility/Section 508 &nbsp&nbsp&nbsp </a>
				<a href="https://www.usa.gov/" target="_blank">USA.gov</a>
				</div>
		</div>
	</body>
</html>
