<!DOCTYPE html>
<html>
	<head>
		<title>SNAP Restoration</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/public/css/logo.css"/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
		<style>
			.container2 { 
				width: 90%;
				padding-left: 15px;
				padding-right: 15px;
				margin-left: auto;
				margin-right: auto;
			}
			.footer {
				margin-left: auto;
				margin-right: auto;
				display: block;
				width: 90%;
				text-align: center;
				bottom:0px;
				padding-bottom: 20px;
			}
		</style>
	</head>
	<body>
		<div id="header">
      <nav role="navigation" class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="pull-left"><img src="/public/css/images/logos/blm.png" width="45px" height="45px" float="left"/><img src="/public/css/images/logos/fs.png" width="45px" height="45px" float="left"/><img src="/public/css/images/logos/fws.png" width="45px" height="45px" float="left"/><img src="/public/css/images/logos/nps.png" width="45px" height="45px" float="left"/></a>
          </div>
            <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/admin/Add.html">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li id="loginTab"><a href="login.html"><b>Login</b></a></li>
              <li id="logoutTab"><a href="javascript:logout();"><b>Logout</b></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

<div class="col-sm-12 backround-white">
	<div class="container2">
	
		<div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>Privacy and Security Notice</h2>
                        </div>



      <p>1. MDEP is provided as a public service by the Department of 
        Defense in cooperation with the Department of the Interior 
        and the State of California.</p>
      <p> 2. Information presented on the MDEP website is considered 
        public information and may be distributed or copied unless 
        otherwise specified. Use of data and/or imagery from MDEP 
        must be credited and used in conjunction with the <a href="http://www.fgdc.gov/metadata/csdgm/">FGDC 
        metadata standards</a> as mandated by executive order 12906. Use of appropriate byline/photo/image credits is requested.</p>
      <p>3. <strong>Privacy Act Statement</strong> - If you choose to provide us with personal information - like filling out a Contact Us form with e-mail and/or postal addresses - we only use that information to respond to your message or request. We will only share the information you give us with another government agency if your inquiry relates to that agency, or as otherwise required by law. We never create individual profiles or give it to any private organizations. MDEP never collects information for commercial marketing. While you must provide an e-mail address or postal address for a response other than those generated automatially in response to questions or comments that you may submit, we recommend that you NOT include any other personal information, especially Social Security numbers. The Social Security Administration offers additional guidance on sharing your Social Security number.</p>
      <p> 4. For site management, usage information is collected for 
        statistical purposes. This government computer system uses 
        software programs to create summary statistics, which are 
        used for such purposes as assessing what information is of 
        most and least interest, determining technical design specifications, 
        and identifying system performance or problem areas.</p>
      <p>5. 
        For site security purposes and to ensure that this service 
        remains available to all users, this government computer system 
        employs software programs to monitor network traffic to identify 
        unauthorized attempts to upload or change information, or 
        otherwise cause damage.</p>
      <p>6. 
        Except for authorized law enforcement investigations, no other 
        attempts are made to identify individual users or their usage 
        habits. Raw data logs are used for no other purposes and are 
        scheduled for regular destruction in accordance with National 
        Archives and Records Administration guidelines.</p>
      <p>7. 
        Unauthorized attempts to upload information or change information 
        on this service is strictly prohibited and may be punishable 
        under the Computer Fraud and Abuse Act of 1986 and the National 
        Information Infrastructure Protection Act.</p>
      <p>8. 
        If you have any questions or comments about the information 
        presented herein, please contact the <a href="mailto:webmaster@mojavedata.gov">MDEP Webmaster</a>.</p>
      <p>9. 
        Cookie Disclaimer - Mojavedata.gov uses "persistent cookie" technology. A persistent cookie is a small text file that this website places on your computer so that it can remember you when you show up again later&mdash;kind of like cookie crumbs! (Hence the name.) We use persistent cookies to enhance your experience on Mojavedata.gov while also protecting your privacy:</p>
      <ul>
        <li> To get aggregate metrics on site usage to understand how people are using the site and how we can make it better. We use web metrics services to track activity on Mojavedata.gov. Government agencies only ever receive traffic statistics anonymously and in the aggregate. </li>
      </ul>
      <p>Most Internet browsers automatically accept persistent cookies. Although we think using persistent cookies creates a much better experience for you, this site will also work without them. If you don't want to accept cookies, you can edit your browser's options to stop accepting persistent cookies or to prompt you before accepting a cookie from the websites you visit; <a href="http://www.usa.gov/optout_instructions.shtml">here's how to disable cookies</a>. The Mojave Desert Ecosystem Program DOES NOT keep a database of information obtained from these cookies. </p>
<hr>
                    </div>
                </div>
	
	</div>
</div>
		<div class="footer">
				<div class="footer-link">
				  <hr>
				<a href="privacy-security.html" target="_blank">Privacy & Security &nbsp&nbsp&nbsp</a>
				<a href="foia.html" target="_blank">FOIA &nbsp&nbsp&nbsp</a>
				<a href="nofear.html" target="_blank">No Fear Act &nbsp&nbsp&nbsp</a>
				<a href="license.html" target="_blank">License &nbsp&nbsp&nbsp</a>
				<a href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx" target="_blank">Accessibility/Section 508 &nbsp&nbsp&nbsp </a>
				<a href="https://www.usa.gov/" target="_blank">USA.gov</a>
				</div>
		</div>
	</body>
</html>
