html, body {
  height: 99.9%;
  padding: 0;
  margin: 0;
}
li > a {
  cursor: pointer;
}
li.disabled {
  background-color: lightgrey !important;
}
@media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 350px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .navbar-brand {
      font-size: 17px !important;
  }
}

@media only screen 
  and (min-device-height: 280px) 
  and (max-device-height: 350px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html, body {
      height: 96%;
  }
}

@media only screen 
  and (min-device-height: 350px) 
  and (max-device-height: 415px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html, body {
      height: 97%;
  }
}

@media only screen 
  and (min-device-height: 415px) 
  and (max-device-height: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html, body {
      height: 98%;
  }
}

@media only screen 
  and (min-device-height: 480px) 
  and (max-device-height: 545px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html, body {
      height: 99%;
  }
}

.navbar {
  margin-bottom: 0;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #9d9d9d; 
    background-color: transparent;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}
.legend {
  color: black;
  background-color: white;
  padding: 5px;
}

#map {
  float: left;
  width: 100%;
  height: 93%;
}

#popUp_FormDIV {
  float: right;
  width: 20%;
  height: 90%;
  overflow: auto;
}

#popUpDIV {
  display: block;
  /* float: left; */
  width: 100%;
  height: 50%;
  overflow: auto;
  margin: 5%;
}

#formPopDIV {
  /* float: right; */
  width: 100%;
  bottom: 40%;
  height: 50%;
  /* position: absolute; */
  overflow: auto;
  margin: 5%;
}

#sidebar1 {
  color: black;
  font-size: 14px;
  padding: 0 !important;
}

#drawTools2 {
  display: block;
  clear:none !important;
  text-align: center;
}

#sidebar2 {
  display: inline-block;
  color: black;
  font-size: 14px;
  padding: 0;
  width: 100%;
}

#logoutTab {
  display: none;
}

#adminTab {
  display: none;
}

.container {
    position: relative;
    width: 50px;
    padding-left: 0px;
    margin: 0 auto 40px auto;

    -webkit-perspective: 800px;
       -moz-perspective: 800px;
        -ms-perspective: 800px;
         -o-perspective: 800px;
            perspective: 800px;
}
.container .card {
    height: 100%;

    -webkit-transition: -webkit-transform 1s;
       -moz-transition:    -moz-transform 1s;
        -ms-transition:     -ms-transform 1s;
         -o-transition:      -o-transform 1s;
            transition:         transform 1s;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.container .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
}
.container .card.flipped,
.container .card .face2 {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
         -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.store {
    display: none;
}
.buttons {
    text-align: center;
}

.drawControl2 {
  width: 100%;
  color: black;
  height: 50px;
  margin-bottom: 10px;
}

#editShapeB {
  display:none;
}
#delShapeB {
  display:none;
}
#step1Drawing {
  display:none;
}
#step2 {
  display:none;
}
#step3 {
  display:none;
}
h1 {
  color: black;
  font-size: 1em;
}
#saved, #savedCount {
  color: black;
}

table, th, td {
      /*border: 1px solid black;*/
      /*border-collapse: collapse;*/
      /*text-align: center;*/
}

.drawingController {
  display: none;
}
.drawingEditController {
  display: none;
}

.savetiles a {
  float: left !important;
  width: auto !important;
  height: 30px;
  font-size: 1.2em !important;
}
.rmtiles a {
  float: right !important;
  height: 30px;
  padding-right: 10px !important;
  padding-left: 10px !important;
  font-size: 1.2em !important;
}

#saveTilesStep {
  display: none;
}

#removeTilesStep {
  display: none;
}

.tileCount {
  display: none;
  text-align: center;
}
.modalButtons {
  width: auto;
  text-align: right;
}
.savingProgress {
  display: none;
  text-align: center;
}
.savingComplete {
  display: none;
  text-align: center;
}
#storage {
  text-align: center;
}
.modal-backdrop {
  z-index: 1250 !important;
}

.leaflet-control-attribution {
  margin-left: 40px !important;
}
#wrapD3Cube {

}
#D3Cube {
    width: 45px;
    height: 45px;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    margin: auto;
    position: relative;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#D3Cube > div {
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    float: left;
    overflow: hidden;
    opacity: 0.85;
}
#side2 {
    display:none;
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(20px);
    -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(20px);
    -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(20px);
}
#side3 {
    transform: translateX(0px) translateY(0px) translateZ(20px);
    -moz-transform: translateX(0px) translateY(0px) translateZ(20px);
    -webkit-transform: translateX(0px) translateY(0px) translateZ(20px);
}
#side4 {
    display:none;
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(20px);
    -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(20px);
    -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(20px);
}

#side5 {
    display:none;
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(20px);
    -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(20px);
    -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(20px);
}


#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 2001; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.table-striped-faded>tbody>tr:nth-of-type(odd) {
    background-color: #ffffff80;
}

.table-striped-faded>tbody>tr:nth-of-type(even) {
    background-color: #dadada80;
}

.table-striped-faded>tbody>tr:hover {
    background-color: #dadada;
    cursor: pointer;
}