<nav role="navigation" class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-wrap="true" style="float:left; display:inline-block;">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img style="width:45px; height:45px;" src="../public/css/images/logos/blm.png" alt="First Slide" />
                    </div>
                    <div class="item">
                        <img style="width:45px; height:45px;" src="../public/css/images/logos/fs.png" alt="Second Slide" />
                    </div>
                    <div class="item">
                        <img style="width:45px; height:45px;" src="../public/css/images/logos/fws.png" alt="Third Slide" />
                    </div>
                    <div class="item">
                        <img style="width:45px; height:45px;" src="../public/css/images/logos/nps.png" alt="Fourth Slide" />
                    </div>
                </div>
            </div>

            <div class="navbar-brand">SNAP Restoration</div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul style="border-left: 1px solid #000000;" class="nav navbar-nav">
                <li><a href="/">Map View</a></li>
                <li><a href="">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="logoutTab">
                    <b style="color: #9d9d9d;">Hello, <span id="username">Username</span></b>
                    <a href="javascript:logout();" style="display: inline-block; padding-left: 0px;">&nbsp(logout)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
