
<!DOCTYPE html>
<html>
	<head>
		<title>Mojavedata</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="public/css/temp/normalize.css" rel="stylesheet"> 
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
		<link href="public/css/temp/style.css" rel="stylesheet"> 

		<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet-src.js"></script>
		<script src="https://unpkg.com/pbf@3.0.5/dist/pbf.js"></script>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> 

		<script src="public/lib/pako/pako_inflate.min.js"></script>
		<script src="public/lib/leaflet/leaflet.ajax.js"></script>
		<script src="public/lib/leaflet/leaflet.VectorTile.js"></script>
		<script src="public/scripts/leaflet.LayerControl.Include.js"></script>
		<script src="public/scripts/leaflet.VectorGrid.mod.js"></script>
		<script src="public/scripts/leaflet.mbTiles.js"></script>
	</head>
	<body>
		<div class="header">
<!-- 			<a href="index.html">
				<img src="img/logo1.png"/> 
				<img src="img/logo2.png"/>
			</a>
			<div class="header-title">
				<h3>U.S. Fish and Wildlife Service</h3>
				<h4>Nevada Fish Passage Database</h4>
			</div> -->
		</div>

		<div id="map"></div>

		<script src="public/scripts/map.js"></script>
	</body>
</html>
