//
   Created by msgis-student on 6/9/2017.

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.2.0/dist/leaflet.css')
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.css")
    link(rel='stylesheet', href='/public/css/styledLayerControl.css')
    link(rel='stylesheet', href='/public/css/sidebarV2.css')
    script(src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous")
    //script(src="/dist/leaflet.offline.min.js")
    script(src="https://unpkg.com/kinto@9.0.2/dist/kinto.min.js")
    script(src="https://unpkg.com/dexie@latest/dist/dexie.js")
    script(src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js' type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.js' type='text/javascript')
    script(src='https://cdn.jsdelivr.net/jquery.loadingoverlay/1.5.3/loadingoverlay.js' type='text/javascript')
    script(src='https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js' type='text/javascript')
    //script(src="https://jsconsole.com/js/remote.js?f7599f18-06f3-47dc-bb3f-f41097176b9b")
    
    //script(src='https://unpkg.com/leaflet-sidebar')
    script(src='https://unpkg.com/leaflet-sidebar-v2')
    
    script(src='/public/scripts/featureStyles.js')
    script(src='/public/scripts/styledLayerControl.js')
    //link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
    
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')

    style(type='text/css').
      html, body {
        height: 100%;
        padding: 0;
        margin: 0;
      }
      
      .navbar {
        margin-bottom: 0;
      }
      
      .legend {
        color: black;
        background-color: white;
        padding: 5px;
        font-size: 0.7em;
      }

      #map {
        float: left;
        width: 100%;
        height: 93%;
      }

      #popUp_FormDIV {
        float: right;
        width: 20%;
        height: 90%;
        overflow: auto;
      }

      #popUpDIV {
        display: block;
        /* float: left; */
        width: 100%;
        height: 50%;
        overflow: auto;
        margin: 5%;
      }

      #formPopDIV {
        /* float: right; */
        width: 100%;
        bottom: 40%;
        height: 50%;
        /* position: absolute; */
        overflow: auto;
        margin: 5%;
      }
      
      #sidebar1 {
        color: black;
        font-size: 14px;
        padding: 0 !important;
      }
      
      #drawTools2 {
        display: block;
        clear:none !important;
        text-align: center;
      }
      
      #sidebar2 {
        display: inline-block;
        color: black;
        font-size: 14px;
        padding: 0;
      }
      
    body
      #header
        nav.navbar.navbar-default.navbar-inverse(role='navigation')
          .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.pull-left
                img(src='/public/css/images/logos/blm.png', width='45px', height='45px', float='left') 
                img(src='/public/css/images/logos/fs.png', width='38px', height='45px', float='left')
                img(src='/public/css/images/logos/fws.png', width='45px', height='45px', float='left')
                img(src='/public/css/images/logos/nps.png', width='45px', height='45px', float='left')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Home
                li
                  a(href='/admin.html') Admin
              ul.nav.navbar-nav.navbar-right
                li
                  p.navbar-text Already have an account?
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    b Login
                    span.caret
                  ul#login-dp.dropdown-menu
                    li
                      .row
                        .col-md-12
                          form#login-nav.form(role='form', method='post', action='login', accept-charset='UTF-8')
                            .form-group
                              label.sr-only(for='exampleInputEmail2') Email address
                              input#exampleInputEmail2.form-control(type='email', placeholder='Email address', required='')
                            .form-group
                              label.sr-only(for='exampleInputPassword2') Password
                              input#exampleInputPassword2.form-control(type='password', placeholder='Password', required='')
                              .help-block.text-right
                                a(href='') Forget the password ?
                            .form-group
                              button.btn.btn-primary.btn-block(type='submit') Sign in
                            .checkbox
                              label
                                input(type='checkbox')
                                |  keep me logged-in
                                
      #overlay
      #map

        //script(src='/public/scripts/asyncAddLayers.js')
        script.
          var map = L.map('map').setView([36.211303, -115.114929], 8);

          // https://stackoverflow.com/questions/39767499/how-to-set-the-zindex-layer-order-for-geojson-layers
          // createPane was used in this thread to control the order of the layers
          
          map.createPane('Points').style.zIndex = 390;
          map.createPane('Lines').style.zIndex = 380;
          map.createPane('Polygons').style.zIndex = 370;
          map.createPane('Regions').style.zIndex = 360;
          map.createPane('Bounds_County').style.zIndex = 350;
          map.createPane('Misc').style.zIndex = 340;

          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: '<a href="http://mojavedata.gov/sitemap.html">Site Map</a>&nbsp;&nbsp;&nbsp;' +
            '<a href="http://mojavedata.gov/security.html">Privacy &amp; Security</a>&nbsp;&nbsp;&nbsp;' +
            '<a href="http://mojavedata.gov/foia.html">FOIA</a>&nbsp;&nbsp;&nbsp;' +
            '<a href="http://mojavedata.gov/nofear.html">No Fear Act</a>&nbsp;&nbsp;&nbsp;' +
            '<a href="http://mojavedata.gov/license.html">License</a>&nbsp;&nbsp;&nbsp;' +
            '<a href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx" target="_blank">Accessibility/Section 508</a>&nbsp;&nbsp;&nbsp;' +
            '<a href="http://www.usa.gov" target="_blank">USA.gov</a>',
            maxZoom: 18,
            id: 'rogerdodger617.2p4pk9co',
            accessToken: 'pk.eyJ1Ijoicm9nZXJkb2RnZXI2MTciLCJhIjoiY2l5aG83M3pzMDR3aDJ3cndobzdzOWFhMSJ9.b6ssRylqfIz40O7vKcDb2g'
          }).addTo(map);

          (async function () {
            try {
              await getLayers();
            }
            catch (err) {
              console.error(err)
            }
          }());
        
          var controlOptions = {
            container_width: "350px",
            container_maxHeight: "500px",
            group_maxHeight: "170px",
            autoZIndex: false,
            exclusive: false,
            collapsed: false
          };

          var overLay = []

          var control = L.Control.styledLayerControl(null, overLay, controlOptions);
          map.addControl(control);
            
          // creates a temp layer so it can store the new features
          var editableLayers = new L.FeatureGroup();
          map.addLayer(editableLayers);

          var options = {
            position: 'bottomright',
            draw: {
              polyline: {
                allowIntersection: false,
                drawError: {
                  color: '#e10100', // Color the shape will turn when intersects
                  message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
                },
                shapeOptions: {
                  color: '#e10100',
                  weight: 3
                }
              },
              polygon: {
                allowIntersection: false, // Restricts shapes to simple polygons
                drawError: {
                  color: '#e10100', // Color the shape will turn when intersects
                  message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
                },
                shapeOptions: {
                  color: '#e10100'
                }
              },
              circle: false, // Turns off this drawing tool
              rectangle: false,
              marker: {
                icon: new L.Icon.Default()
              }
            },
            edit: {
              featureGroup: editableLayers, //REQUIRED!!
              edit: true,
              remove: true
            }
          };

          var drawControl = new L.Control.Draw(options);
          map.addControl(drawControl);

          var thisLayer
          

          map.on(L.Draw.Event.CREATED, function (event) {
            var layer = event.layer;
            editableLayers.addLayer(layer);
            thisLayer = layer.toGeoJSON();
            console.log(thisLayer);
          });
        
      #sidebar.sidebar.collapsed
        // Nav tabs
        .sidebar-tabs
          ul(role='tablist')
            // top aligned tabs
            li
              a(href='#layers', role='tab')
                span.glyphicon.glyphicon-menu-hamburger(aria-hidden='true')
            li
              a(href='#drawTools', role='tab')
                span.glyphicon.glyphicon-pencil(aria-hidden='true')
            li
              a(href='#formTools', role='tab')
                span.glyphicon.glyphicon-info-sign(aria-hidden='true')

          ul(role='tablist')
            // bottom aligned tabs
            li
              a(href='#settings', role='tab')
                span.glyphicon.glyphicon-cog(aria-hidden='true')

        // Tab panes
        .sidebar-content
          #layers.sidebar-pane
            h1.sidebar-header
              | Layers
              .sidebar-close
                span.glyphicon.glyphicon-menu-left(aria-hidden='true')
              br
              p.legend
                span.legend-item
                  img(src='/public/css/images/greenSquare.png', width='8%', height='35%') 
                  |  NPS 
                  img(src='/public/css/images/redSquare.png', width='8%', height='35%')  
                  |  BLM 
                span.legend-item
                  img(src='/public/css/images/orangeSquare.png', width='8%', height='35%') 
                  |  FWS 
                  img(src='/public/css/images/purpleSquare.png', width='8%', height='35%') 
                  |  FS 
              #layerTools2

          #drawTools.sidebar-pane
            h1.sidebar-header
              | Draw Tools
              .sidebar-close
                span.glyphicon.glyphicon-menu-left(aria-hidden='true')
              #drawTools2
              #sidebar2
                script(src='/public/scripts/formDIV.js')

          #formTools.sidebar-pane
            h1.sidebar-header
              | Marker Info
              .sidebar-close
                span.glyphicon.glyphicon-menu-left(aria-hidden='true')
              #sidebar1
                
          #settings.sidebar-pane
            h1.sidebar-header
              | Settings
              .sidebar-close
                span.glyphicon.glyphicon-menu-left(aria-hidden='true')
                
      script. 
        var sidebar = L.control.sidebar('sidebar').addTo(map);
        
        // Moves the layer controls into the sidebar
        var htmlObject = control.getContainer();
        // Get the desired parent node.
        var a = document.getElementById('layerTools2');
        
        // Finally append that node to the new parent, recursively searching out and re-parenting nodes.
        function setParent(el, newParent)
        {
          newParent.appendChild(el);
        }
        setParent(htmlObject, a);
        
        
        // Moves the drawing controls into the sidebar
        var htmlObject = drawControl.getContainer();
        // Get the desired parent node.
        var a = document.getElementById('drawTools2');
        
        // Finally append that node to the new parent, recursively searching out and re-parenting nodes.
        function setParent(el, newParent)
        {
          newParent.appendChild(el);
        }
        setParent(htmlObject, a);
      
