//
   Created by msgis-student on 6/9/2017.

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css')
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.css")
    link(rel='stylesheet', href='/public/css/styledLayerControl.css')
    script(src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous")
    script(src="https://unpkg.com/kinto@9.0.2/dist/kinto.min.js")
    script(src="https://unpkg.com/dexie@latest/dist/dexie.js")
    script(src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js' type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.js' type='text/javascript')
    script(src='https://cdn.jsdelivr.net/jquery.loadingoverlay/1.5.3/loadingoverlay.js' type='text/javascript')
    script(src='https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js' type='text/javascript')
    //script(src="https://jsconsole.com/js/remote.js?f7599f18-06f3-47dc-bb3f-f41097176b9b")
    
    script(src='https://unpkg.com/leaflet-sidebar')
    
    script(src='/public/scripts/featureStyles.js')
    script(src='/public/scripts/styledLayerControl.js')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
    
    style(type='text/css').
      html, body {
        height: 100%;
        padding: 0;
        margin: 0;
      }
      
      #header {
        height: 7%;
      }

      #map {
        float: left;
        width: 80%;
        height: 90%;
      }

      #popUp_FormDIV {
        float: right;
        width: 20%;
        height: 90%;
        overflow: auto;
      }

      #popUpDIV {
        display: block;
        /* float: left; */
        width: 100%;
        height: 50%;
        overflow: auto;
        margin: 5%;
      }

      #formPopDIV {
        /* float: right; */
        width: 100%;
        bottom: 40%;
        height: 50%;
        /* position: absolute; */
        overflow: auto;
        margin: 5%;
      }
      
      #footerDIV {
        text-align: center;
         padding:20px;
        font-size: 14px;
      }

      .featureSelection * {
        width: 200px;
        margin: 0;

        -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
        -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
        box-sizing: border-box;
      }

      .collectionForm * {
        width: 200px;
        margin: 0;

        -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
        -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
        box-sizing: border-box;
      }
      .leaflet-sidebar {
        position: absolute;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        z-index: 2000; }
        .leaflet-sidebar.left {
          left: -500px;
          transition: left 0.5s, width 0.5s;
          padding-right: 0; }
          .leaflet-sidebar.left.visible {
            left: 0; }
        .leaflet-sidebar.right {
          right: -500px;
          transition: right 0.5s, width 0.5s;
          padding-left: 0; }
          .leaflet-sidebar.right.visible {
            right: 0; }
        .leaflet-sidebar > .leaflet-control {
          height: 100%;
          width: 100%;
          overflow: auto;
          -webkit-overflow-scrolling: touch;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 8px 24px;
          font-size: 1.1em;
          background: white;
          box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
          -webkit-border-radius: 4px;
          border-radius: 4px; }
          .leaflet-touch .leaflet-sidebar > .leaflet-control {
            box-shadow: none;
            border: 2px solid rgba(0, 0, 0, 0.2);
            background-clip: padding-box; }
        @media (max-width: 767px) {
          .leaflet-sidebar {
            width: 100%;
            padding: 0; }
            .leaflet-sidebar.left.visible ~ .leaflet-left {
              left: 100%; }
            .leaflet-sidebar.right.visible ~ .leaflet-right {
              right: 100%; }
            .leaflet-sidebar.left {
              left: -100%; }
              .leaflet-sidebar.left.visible {
                left: 0; }
            .leaflet-sidebar.right {
              right: -100%; }
              .leaflet-sidebar.right.visible {
                right: 0; }
            .leaflet-sidebar > .leaflet-control {
              box-shadow: none;
              -webkit-border-radius: 0;
              border-radius: 0; }
              .leaflet-touch .leaflet-sidebar > .leaflet-control {
                border: 0; } }
        @media (min-width: 768px) and (max-width: 991px) {
          .leaflet-sidebar {
            width: 305px; }
            .leaflet-sidebar.left.visible ~ .leaflet-left {
              left: 305px; }
            .leaflet-sidebar.right.visible ~ .leaflet-right {
              right: 305px; } }
        @media (min-width: 992px) and (max-width: 1199px) {
          .leaflet-sidebar {
            width: 390px; }
            .leaflet-sidebar.left.visible ~ .leaflet-left {
              left: 390px; }
            .leaflet-sidebar.right.visible ~ .leaflet-right {
              right: 390px; } }
        @media (min-width: 1200px) {
          .leaflet-sidebar {
            width: 460px; }
            .leaflet-sidebar.left.visible ~ .leaflet-left {
              left: 460px; }
            .leaflet-sidebar.right.visible ~ .leaflet-right {
              right: 460px; } }
        .leaflet-sidebar .close {
          position: absolute;
          right: 20px;
          top: 20px;
          width: 31px;
          height: 31px;
          color: #333;
          font-size: 25px;
          line-height: 1em;
          text-align: center;
          background: white;
          -webkit-border-radius: 16px;
          border-radius: 16px;
          cursor: pointer;
          z-index: 8; }
      
      .leaflet-left {
        transition: left 0.5s; }
      
      .leaflet-right {
        transition: right 0.5s; }
        

    body
      #header
        nav.navbar.navbar-default.navbar-inverse(role='navigation')
          .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand Snap Restoration
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Home
              ul.nav.navbar-nav.navbar-right
                li
                  p.navbar-text Already have an account?
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    b Login
                    span.caret
                  ul#login-dp.dropdown-menu
                    li
                      .row
                        .col-md-12
                          form#login-nav.form(role='form', method='post', action='login', accept-charset='UTF-8')
                            .form-group
                              label.sr-only(for='exampleInputEmail2') Email address
                              input#exampleInputEmail2.form-control(type='email', placeholder='Email address', required='')
                            .form-group
                              label.sr-only(for='exampleInputPassword2') Password
                              input#exampleInputPassword2.form-control(type='password', placeholder='Password', required='')
                              .help-block.text-right
                                a(href='') Forget the password ?
                            .form-group
                              button.btn.btn-primary.btn-block(type='submit') Sign in
                            .checkbox
                              label
                                input(type='checkbox')
                                |  keep me logged-in
                                
      //#sidebar.sidebar.collapsed
        // Nav tabs
        .sidebar-tabs
          ul(role='tablist')
            li
              a(href='#home', role='tab')
                i.fa.fa-bars
            li
              a(href='#profile', role='tab')
                i.fa.fa-user
            li.disabled
              a(href='#messages', role='tab')
                i.fa.fa-envelope
            li
              a(href='https://github.com/Turbo87/sidebar-v2', role='tab', target='_blank')
                i.fa.fa-github
          ul(role='tablist')
            li
              a(href='#settings', role='tab')
                i.fa.fa-gear
        // Tab panes
        .sidebar-content
          #home.sidebar-pane
            h1.sidebar-header
              | sidebar-v2
              span.sidebar-close
                i.fa.fa-caret-left
          #profile.sidebar-pane
            h1.sidebar-header
              | Profile
              span.sidebar-close
                i.fa.fa-caret-left
          #messages.sidebar-pane
            h1.sidebar-header
              | Messages
              span.sidebar-close
                i.fa.fa-caret-left
          #settings.sidebar-pane
            h1.sidebar-header
              | Settings
              span.sidebar-close
                i.fa.fa-caret-left
                
                
      #overlay
      #map

        script(src='/public/scripts/asyncAddLayers.js')
        //script(src='/public/scripts/sidebar.js')
        script.
          var map = L.map('map').setView([36.211303, -115.114929], 8);

          // https://stackoverflow.com/questions/39767499/how-to-set-the-zindex-layer-order-for-geojson-layers
          // createPane was used in this thread to control the order of the layers
          
          map.createPane('Points').style.zIndex = 390;
          map.createPane('Lines').style.zIndex = 380;
          map.createPane('Polygons').style.zIndex = 370;
          map.createPane('Regions').style.zIndex = 360;
          map.createPane('Bounds_County').style.zIndex = 350;
          map.createPane('Misc').style.zIndex = 340;

          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: '<a href="sitemap.html">Site Map</a>&nbsp;&nbsp;&nbsp;' +
            '<a href="security.html">Privacy &amp; Security</a>&nbsp;&nbsp;&nbsp;' +
            '<a href="foia.html">FOIA</a>&nbsp;&nbsp;&nbsp;' +
            '<a href="nofear.html">No Fear Act</a>&nbsp;&nbsp;&nbsp;' +
            '<a href="license.html">License</a>&nbsp;&nbsp;&nbsp;' +
            '<a href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx" target="_blank">Accessibility/Section 508</a>&nbsp;&nbsp;&nbsp;' +
            '<a href="http://www.usa.gov" target="_blank">USA.gov</a>',
            maxZoom: 18,
            id: 'rogerdodger617.2p4pk9co',
            accessToken: 'pk.eyJ1Ijoicm9nZXJkb2RnZXI2MTciLCJhIjoiY2l5aG83M3pzMDR3aDJ3cndobzdzOWFhMSJ9.b6ssRylqfIz40O7vKcDb2g'
          }).addTo(map);

          (async function () {
            try {
              await getLayers();
            }
            catch (err) {
              console.error(err)
            }
          }());
        
          var controlOptions = {
            container_width: "300px",
            container_maxHeight: "350px",
            group_maxHeight: "80px",
            autoZIndex: false,
            exclusive: false
          };

          var overLay = []

          var control = L.Control.styledLayerControl(null, overLay, controlOptions);
          map.addControl(control);
            
          // creates a temp layer so it can store the new features
          var editableLayers = new L.FeatureGroup();
          map.addLayer(editableLayers);

          var options = {
            position: 'topleft',
            draw: {
              polyline: {
                allowIntersection: false,
                drawError: {
                  color: '#e10100', // Color the shape will turn when intersects
                  message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
                },
                shapeOptions: {
                  color: '#e10100',
                  weight: 3
                }
              },
              polygon: {
                allowIntersection: false, // Restricts shapes to simple polygons
                drawError: {
                  color: '#e10100', // Color the shape will turn when intersects
                  message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
                },
                shapeOptions: {
                  color: '#e10100'
                }
              },
              circle: false, // Turns off this drawing tool
              rectangle: false,
              marker: {
                icon: new L.Icon.Default()
              }
            },
            edit: {
              featureGroup: editableLayers, //REQUIRED!!
              edit: true,
              remove: true
            }
          };

          var drawControl = new L.Control.Draw(options);
          map.addControl(drawControl);

          var thisLayer
          

          map.on(L.Draw.Event.CREATED, function (event) {
            var layer = event.layer;
            editableLayers.addLayer(layer);
            thisLayer = layer.toGeoJSON();
            console.log(thisLayer);
          });
      
      #sidebar
        h1 leaflet-sidebar

      script.
        var sidebar = L.control.sidebar('sidebar', {
              closeButton: true,
              position: 'left'
        });
        map.addControl(sidebar);
        
        setTimeout(function () {
            sidebar.show();
        }, 500);
        sidebar.getContainer('#popUpDIV');
        
      #popUp_FormDIV
        #popUpDIV
        #formPopDIV
          script(src='/public/scripts/formDIV.js')
      
    //script( src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js' )
    //script( src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' )
        
    ////Side bar for leaflet map
          //var sidebar = L.control.sidebar('sidebar', {
            position: 'left'
          //});
          //map.addControl(sidebar);

          //setTimeout(function () {
            sidebar.show();
          //}, 500);
    //footer
      #footerDIV
      .row
        .col-md-12
          p
            center
              a(href='sitemap.html', style='  text-align: center;  padding:20px; font-size: 14px;') Site Map
              a(href='security.html', style=' text-align: center;  padding:20px; font-size: 14px;') Privacy & Security
              a(href='foia.html', style='  text-align: center;  padding:20px; font-size: 14px;') FOIA
              a(href='nofear.html', style='  text-align: center;  padding:20px; font-size: 14px;') No Fear Act
              a(href='license.html', style='  text-align: center;  padding:20px; font-size: 14px;') License
              a(href='http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx', target='_blank', style='  text-align: center;  padding:20px; font-size: 14px;') Accessibility/Section 508
              a(href='http://www.usa.gov', target='_blank', style='  text-align: center;  padding:20px; font-size: 14px;mar') USA.gov
    
    