<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <style>
            html, body {
                background-color: black;
            }
            .container {
                background-color: white;
                padding: 10px;
                float: center;
                max-width: 330px;
                margin-top: 100px;
                border-radius: 15px;
            }
        </style>
    </head>
    <body>
        <div id="loginDIV" class="container">
          <form class="form-signin" action="#" onsubmit="login();return false">
            <h2 class="form-signin-heading">Please sign in</h2>
            <h5 id="warning1" style="display:none; color:red; background-color:#dfdfdf; padding-top: 5px;padding-bottom: 5px;padding-left: 5px;">Incorrect username/password combination</h5>
            <label for="inputUsername" class="sr-only">Email address</label>
            <input type="text" id="username" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" required>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button onclick="goBack(); return false;" class="btn btn-lg btn-secondary btn-block">Go Back</button>
            <button id="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
          </form>

        </div> <!-- /container -->
        <div id="changeDIV" style="display:none;" class="container">
          <form class="form-change" action="#" onsubmit="change();return false">
            <h2 class="form-change-heading">Change password</h2>
            <h5 id="warning2" style="display:none; color:red; background-color:#dfdfdf; padding-top: 5px;padding-bottom: 5px;padding-left: 5px;">Passwords do not match!</h5>
            <label for="inputPass" class="sr-only">New Password: </label>
            <input type="password" id="password1" class="form-control" placeholder="Password" required autofocus>
            <label for="inputConPass" class="sr-only">Confirm New Password: </label>
            <input type="password" id="password2" class="form-control" placeholder="Confirm Password" required>
            
            <button id="submit" class="btn btn-lg btn-primary btn-block">Save</button>
          </form>

        </div> <!-- /container -->
    </body>
    <script>
        var user = null;
        function login() {
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
            var info = {};
            info['user'] = username;
            info['password'] = password;
            $.ajax({
                type: "POST",
                url: "/login",
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(info),
                success: function (data) { 
                  console.log(data);
                  if(data.length == 0) { 
                    document.getElementById('warning1').style.display = "block";
                  }
                  else if (data[0].password_reset == 1) {
                      user = data[0].user_name;
                      document.getElementById('loginDIV').style.display = "none";
                      document.getElementById('changeDIV').style.display = "block";
                  }
                  else
                    window.location.href = '/';
                  
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.warn(XMLHttpRequest.responseText);
                }
            })
        }
        function change() {
            var pass1 = document.getElementById('password1').value;
            var pass2 = document.getElementById('password2').value;
            console.log(pass1.length)
            if (pass1.length < 8) {
                document.getElementById('warning2').innerHTML = "Passwords must be at least 8 characters";
                document.getElementById('warning2').style.display = "block";
            } else {
                if (pass1 == pass2) {
                    $.ajax({
                        type: "POST",
                        url: "/changePass",
                        dataType : "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify([user, pass1]),
                        success: function (data) { 
                          console.log(data);
                          window.location.href = '/';
                          
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            console.warn(XMLHttpRequest.responseText);
                        }
                    })
                }
                else {
                    document.getElementById('warning2').innerHTML = "Passwords do not match!";
                    document.getElementById('warning2').style.display = "block";
                }
            }
        }
        function goBack() {
            window.location=document.referrer;
        }
    </script>
</html>