<footer>
                <div class="row">
                    <div class="col-md-12">
                        <p><a href="sitemap.html">Site Map</a>&nbsp;&nbsp;&nbsp;<a href="security.html">Privacy &amp; Security</a>&nbsp;&nbsp;&nbsp;<a href="foia.html">FOIA</a>&nbsp;&nbsp;&nbsp;<a href="nofear.html">No Fear Act</a>&nbsp;&nbsp;&nbsp;<a href="license.html">License</a>&nbsp;&nbsp;&nbsp;<a href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx" target="_blank">Accessibility/Section 508</a>&nbsp;&nbsp;&nbsp;<a href="http://www.usa.gov" target="_blank">USA.gov</a></p>
                    </div> 
                </div>
            </footer>