<!DOCTYPE html>
<html>
	<head>
		<title>Nevada Fish Passage Database</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="lib/normalize/normalize.css" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
		<link href="css/style.css" rel="stylesheet"> 
	</head>
	<body>
		<div class="header">
			<a href="index.html">
				<img src="img/logo1.png"/> 
				<img src="img/logo2.png"/>
			</a>
			<div class="header-title">
				<h3>U.S. Fish and Wildlife Service</h3>
				<h4>Nevada Fish Passage Database</h4>
			</div>
		</div>

  <div class="container">
    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>Licenses, Copyrights and Acknowledgements</h2>
                        </div>



      <p><a href="index.html#home">Home</a></p>
      <p>All Content &copy; Mojave Desert Ecosystem Program</p>
      <p>Original base theme <a href="https://wrapbootstrap.com/theme/garis-business-website-template-WB0986KJ1">GARIS</a> by <a href="http://www.facebook.com/people/@/Develpixel">DevelPixel,</a> Licensed by MDEP</p>
      <p>Search Functionality Provided by <a href="http://www.voyagersearch.com" target="_new">Voyager Search</a>
      </p><p>Photo Credits:
      <br>
      <a href="http://www.constantinealexander.net/2014/10/wildlife-refuge-plans-show-strengths-and-weaknesses-for-adaptation-to-climate-change.html">George Gentry, </a><a href="http://www.fws.gov"> US FWS</a>
      <br>
      <a href="http://pichost.me/1620345/">User andrak @ PicHost.me </a>
      <br>
      <a href="https://www.flickr.com/photos/qmnonic/2394918389/">Matt MacGillivray @ Flickr </a></p>

      <br>
<hr>
      <br><br>

      <p>The license MDEP uses for its works is a combination of the GPL and MIT licenses, as shown below:</p>
      <p>The MIT License (MIT), Modified.<br><br>

      Copyright (c) [2015, ongoing] [Mojave Desert Ecosystem Program]<br><br>

      Permission is hereby granted, free of charge, to any person obtaining a copy
      of this software and associated documentation files (the "Software"), to deal
      in the Software without restriction, including without limitation the rights
      to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
      copies of the Software, and to permit persons to whom the Software is
      furnished to do so, subject to the following conditions:</p>

      <p>This copyright notice and this permission notice shall be included in all
      copies or substantial portions of the Software.</p>

      <p>Neither the name of this project nor the names of its
      contributors may be used to endorse or promote products derived from
      this software without specific prior written permission.</p>


      <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
      OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
      SOFTWARE.</p>

      <hr>
    </div>
  </div>


		<div class="footer">
			<div class="container-fluid">
				<div class="footer-link">
				<a href="privacy-security.html" target="_blank">Privacy & Security</a>
				<a href="foia.html" target="_blank">FOIA</a>
				<a href="nofear.html" target="_blank">No Fear Act</a>
				<a href="license.html" target="_blank">License</a>
				<a href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx" target="_blank">Accessibility/Section 508 </a>
				<a href="https://www.usa.gov/" target="_blank">USA.gov</a>
				<div>
			</div>
		</div>
	</body>
</html>
