<!DOCTYPE html>
<html>
	<head>
		<title>Nevada Fish Passage Database</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="lib/normalize/normalize.css" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
		<link href="css/style.css" rel="stylesheet"> 
	</head>
	<body>
		<div class="header">
			<a href="index.html">
				<img src="img/logo1.png"/> 
				<img src="img/logo2.png"/>
			</a>
			<div class="header-title">
				<h3>U.S. Fish and Wildlife Service</h3>
				<h4>Nevada Fish Passage Database</h4>
			</div>
		</div>

  <div class="container">
    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>No FEAR Act</h2>
                        </div>

      <p>On May 15, 2002, Congress enacted the ``Notification and Federal Employee Antidiscrimination and Retaliation Act of 2002,'' which is now known as the No FEAR Act. One purpose of the Act is to "require that Federal agencies be accountable for violations of antidiscrimination and whistleblower protection laws." [See Public Law 107-174, Summary.] In support of this purpose, Congress found that "agencies cannot be run effectively if those agencies practice or tolerate discrimination." [See Public Law 107-174, Title I, General Provisions, section 101(1).] The Act also requires agencies to provide this notice to Federal employees, former Federal employees and applicants for Federal employment to inform them of the rights and protections available to them under Federal antidiscrimination and whistleblower protection laws.</p>
      <p>The intent of the Notification and Federal Employee Anti-discrimination and Retaliation Act of 2002, "No FEAR Act" is that federal agencies will pay more attention to their EEO and whistleblower complaint activity and act more expeditiously to resolve complaints at the administrative level when it is appropriate to do so.   Each agency is required to post on its primary web homepage a link to the data required to be posted under the Act and designate the link and that data as "Equal Opportunity Data to be posted by the No FEAR Act."</p>
      <p>Department of Defense No FEAR Act website:</p>
      <p><a href="http://prhome.defense.gov/nofear" target="_blank" class="body_text">http://prhome.defense.gov/nofear</a></p>
      <p>Department of the Interior No FEAR Act website:</p>
      <p><a href="http://www.doi.gov/pmb/eeo/no-fear-act.cfm" target="_blank" class="body_text">http://www.doi.gov/pmb/eeo/no-fear-act.cfm</a></p>

    </div>
  </div>


		<div class="footer">
			<div class="container-fluid">
				<div class="footer-link">
				<a href="privacy-security.html" target="_blank">Privacy & Security</a>
				<a href="foia.html" target="_blank">FOIA</a>
				<a href="nofear.html" target="_blank">No Fear Act</a>
				<a href="license.html" target="_blank">License</a>
				<a href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx" target="_blank">Accessibility/Section 508 </a>
				<a href="https://www.usa.gov/" target="_blank">USA.gov</a>
				<div>
			</div>
		</div>
	</body>
</html>
